<!-- header.component.html -->
<div class="header-container">
  <h1 class="page-title">{{ title }}</h1>
  <div class="header-actions">
    <!-- <div class="right-side">
      
    </div> -->
    <img
      src="../../../assets/images/form-search-icon.png"
      alt="search-icon"
      class="search-icon"
    />
    <img
      src="../../../assets/images/bell-icon.png"
      alt="bell-icon"
      class="bell-icon"
    />

    <img
      src="../../../assets/images/Devider.png"
      alt="divider-icon"
      class="divider-icon"
    />
    <!-- <input type="text" placeholder="Search..." class="search-bar" /> -->
    <!-- <button class="icon-button">
      <i class="fa fa-bell"></i>
     Notification icon 
    </button> -->
    <img
      src="assets/images/user-avatar.png"
      alt="User Profile"
      class="profile-icon"
    />
    <p>Samsad</p>
  </div>
</div>
