<!--!TailWind -->
<!-- header.component.html -->
<div class="header-container ">
  <h1 class="page-title flex-1 text-left text-2xl font-bold text-gray-800 ">{{ title }}</h1>
  <div class="header-actions flex items-center gap-[15px] max-sm:mr-5">
    <!-- <div class="right-side">
      
    </div> -->
    <img
      src="../../../assets/images/form-search-icon.png"
      alt="search-icon"
      class="search-icon h-6 w-6"
      
    />
    <img
      src="../../../assets/images/bell-icon.png"
      alt="bell-icon"
      class="bell-icon h-6 w-6"
    />

    <img
      src="../../../assets/images/Devider.png"
      alt="divider-icon"
      class="divider-icon "
    />
    <div class="icon">
      <img
      src="assets/images/user-avatar.png"
      alt="User Profile"
      class="profile-icon w-9 h-9 rounded-[50%] cursor-pointer " (click)="goToDashboard()"
    />
    <p class="font-semibold text-base max-sm:text-sm max-sm:mr-5">Samsad</p>
    </div>
   
</div>
</div>
<!--!TailWInd  -->





<!-- header.component.html -->
<!-- <div class="header-container">
  <h1 class="page-title">{{ title }}</h1>
  <div class="header-actions"> -->
    <!-- <div class="right-side">
      
    </div> -->
    <!-- <img
      src="../../../assets/images/form-search-icon.png"
      alt="search-icon"
      class="search-icon"
    />
    <img
      src="../../../assets/images/bell-icon.png"
      alt="bell-icon"
      class="bell-icon"
    />

    <img
      src="../../../assets/images/Devider.png"
      alt="divider-icon"
      class="divider-icon"
    /> -->
    <!-- <input type="text" placeholder="Search..." class="search-bar" /> -->
    <!-- <button class="icon-button">
      <i class="fa fa-bell"></i>
      Notification icon
    </button> -->
    <!-- <img
      src="assets/images/user-avatar.png"
      alt="User Profile"
      class="profile-icon"
    />
    <p>Samsad</p>
  </div>
</div> -->
<!-- <div
  class="header-container flex items-center justify-between p-2.5 bg-white mr-6 gap-10 font-jakarta"
>
  <h1 class="page-title flex-1 text-left text-xl font-bold text-gray-800">
    {{ title }}
  </h1>
  <div class="header-actions flex items-center gap-4">
    <img
      src="../../../assets/images/form-search-icon.png"
      alt="search-icon"
      class="h-6 w-6"
    />
    <img
      src="../../../assets/images/bell-icon.png"
      alt="bell-icon"
      class="h-6 w-6"
    />
    <img
      src="../../../assets/images/Devider.png"
      alt="divider-icon"
      class="h-6 w-6"
    />
    <img
      src="assets/images/user-avatar.png"
      alt="User Profile"
      class="profile-icon w-9 h-9 rounded-full cursor-pointer"
    />
    <p class="font-semibold w-16 h-5 text-gray-800">Samsad</p>
  </div>
</div> -->


