<div class="header-container">
  <!-- Title container -->
  <div class="title-container">
    <h1 class="page-title">{{ title }}</h1>
  </div>

  <!-- Header actions container on a new line -->
  <div class="header-actions">
    <img
      src="../../../assets/images/form-search-icon.png"
      alt="search-icon"
      class="search-icon"
    />
    <img
      src="../../../assets/images/bell-icon.png"
      alt="bell-icon"
      class="bell-icon"
    />

    <img
      src="../../../assets/images/Devider.png"
      alt="divider-icon"
      class="divider-icon"
    />

    <img
      src="assets/images/user-avatar.png"
      alt="User Profile"
      class="profile-icon"
    />
    <p>Samsad</p>
  </div>
</div>
