<!-- download-app.component.html -->
<div class="right-side">
  <div class="download-box">
    <div class="icon-wrapper">
      <img src="../../../../assets/images/down-icon.png" alt="download-icon" />
    </div>
    <h2>Download App</h2>
    <p>
      You have successfully set your account. Please download the app link below
      to login.
    </p>
    <div class="store-buttons">
      <a href="#" class="store-link">
        <img
          src="../../../../assets/images/google-play.png"
          alt="Google Play"
        />
      </a>
      <a href="#" class="store-link">
        <img src="../../../../assets/images/app-store.png" alt="App Store" />
      </a>
    </div>
  </div>
</div>
