<div class="check-email-container">
  <div class="check-email-content">
    <img
      src="../../../../assets/images/email-icon.png"
      alt="Email Icon"
      class="email-icon"
    />
    <h2>Check your email</h2>
    <p>
      We sent a password reset link to<br /><strong>user&#64;mail.com</strong>
    </p>
    <button class="open-email-button">Open email app</button>
    <p class="resend-text">
      Didn’t receive the email?
      <a href="#" class="resend-link">Click to resend</a>
    </p>
    <a href="#" class="back-link">← Back to log in</a>
  </div>
</div>
