<div class="forgot-pass-container">
  <div class="forgot-pass-content">
    <img
      src="../../../../assets/images/search-icon.png"
      alt="Search Icon"
      class="search-icon"
    />
    <h2>Forgot password?</h2>
    <p>No worries, we’ll send you reset instructions.</p>
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <button type="submit" class="reset-button">Reset password</button>
    </form>
    <a href="#" class="back-link">← Back to log in</a>
  </div>
</div>
