<!-- Left Side: Image and Logo -->
<div class="left-side flex-1 flex bg-pink-100 items-start justify-center relative h-[700px] w-[760px] rounded-[20px] ml-10">
<!-- <div class="relative sm:w-[380px] sm:h-[239px] sm:top-[677px] sm:left-[-5px] sm:gap-0 sm:rounded-[24px] sm:opacity-0 
md:w-[380px] md:h-[239px] md:top-[677px] md:left-[-5px] md:gap-0 md:rounded-[24px] md:opacity-0"> -->
  <img
    src="../../../../assets/images/manobik.svg"
    alt="Background Image"
    class="background-image w-[760px] h-[700px] object-contain rounded-[20px]"
  />
</div>
