.left-side {
    flex: 1;
    background-color: #ffe8f1;
    display: flex;
    align-items: left;
    justify-content: center;
    position: relative;
    // height: 944px;
    // width: 760px;
    border-radius: var(--radius-xl);
    margin-left: 40px;
    overflow: hidden;
    .background-image {
        width: auto;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius-xl);
    }
}