.left-side {
    flex: 1;
    background-color: #ffe8f1;
    display: flex;
    align-items: left;
    justify-content: center;
    position: relative;
    height: 730px;
    width: 500px;
    border-radius: var(--radius-xl);
    margin-left: 40px;

    .background-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: var(--radius-xl);
    }
}