<!-- profile.component.html -->
<div class="profile-container">
  <div class="profile-header">
    <img
      src="../../../assets/images/profile-pic.png"
      alt="Profile Picture"
      class="profile-picture"
    />
    <div class="profile-info">
      <h1 class="profile-name">Faiyaz Shahrear</h1>
      <p class="profile-role">Supervisor</p>
    </div>
  </div>

  <div class="profile-details">
    <div class="profile-detail">
      <p class="label">Entity / NGO</p>
      <p class="value">BRAC</p>
    </div>
    <div class="profile-detail">
      <p class="label">Designation</p>
      <p class="value">Manager</p>
    </div>
    <div class="profile-detail">
      <p class="label">Email</p>
      <p class="value">faiyaz&#64;brac.com</p>
    </div>
    <div class="profile-detail">
      <p class="label">Phone No.</p>
      <p class="value">+880 1758475869</p>
    </div>
    <div class="profile-detail">
      <p class="label">User Name</p>
      <p class="value">Faiyaz Shahrear</p>
    </div>
  </div>
</div>
