<!-- sidebar.component.html -->
<div class="sidebar-container">
  <img src="assets/images/logo.png" alt="Logo" class="sidebar-logo" />
  <nav class="nav-menu">
    <!-- <a routerlink="/dashboard" routerlinkactive="active">
      <i class="fa fa-tachometer"></i> Dashboard
    </a> -->
    <a routerlink="/fivew-form" routerlinkactive="active">
      <i class="fa fa-file-text"></i> 5W Form Data
    </a>
    <a routerlink="/plan-list" routerlinkactive="active">
      <i class="fa fa-calendar"></i> Plan
    </a>
    <a routerlink="/organization" routerlinkactive="active">
      <i class="fa fa-building"></i> Organization
    </a>
    <a routerlink="/user-list" routerlinkactive="active">
      <i class="fa fa-users"></i> User Management
    </a>
  </nav>
</div>
