<!-- sidebar.component.html -->
<div class="sidebar-container">
  <img src="assets/images/logo.png" alt="Logo" class="sidebar-logo" />
  <nav class="nav-menu">
    <span class="title"><p>Main Menu</p></span>
    <a routerlink="/dashboard" routerlinkactive="active">
      <img
        src="../../../assets/images/dashboard.png"
        alt="dashboard-icon"
      />&nbsp;&nbsp;&nbsp;Dashboard
    </a>
    <a routerlink="/fivew-form" routerlinkactive="active">
      <img src="../../../assets/images/document-text.png" alt="5wform-icon" />
      &nbsp;&nbsp;&nbsp;5W Form Data
    </a>
    <a routerlink="/plan-list" routerlinkactive="active">
      <img src="../../../assets/images/clipboard-text.png" alt="plan-icon" />
      &nbsp;&nbsp;&nbsp;Plan
    </a>
    <a routerlink="/organization" routerlinkactive="active">
      <img
        src="../../../assets/images/buildings.png"
        alt="org-icon"
      />&nbsp;&nbsp;&nbsp;Organization
    </a>
    <a routerlink="/user-list" routerlinkactive="active">
      <img src="../../../assets/images/people.png" alt="people-icon" />
      &nbsp;&nbsp;&nbsp;User Management
    </a>
  </nav>
</div>
