<!-- <div class="footer">
  <span><p>&copy; 2024 BRAC | All rights reserved.</p></span>
  <div class="privacy">
    <span
      ><a href="#">Terms & Conditions</a> |
      <a href="#">&nbsp; &nbsp;Privacy & Policy</a></span
    >
  </div>
</div> -->

<div class="footer w-full flex-row flex justify-between items-center mt-[30px] text-sm text-gray-500 gap-16">
  <span class="flex flex-row "><p class="m-10">&copy; 2024 BRAC | All rights reserved.</p></span>
  <div class="privacy">
    <span
      ><a href="#" class="text-blue-500 hover:underline">Terms & Conditions</a> |
      <a href="#" class="text-blue-500 hover:underline">&nbsp; &nbsp;Privacy & Policy</a></span
    >
  </div>
</div>
